body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/24286650/pexels-photo-24286650.jpeg?);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 40%;
    min-width: 150px;
    text-align: center;
    background-color: #468D8B78; /*Adjusted opacity */
    border-radius:50%; /* Rounded */
    box-shadow: 20px 0px 20px 0px #0b0f0ed6;
    padding: 50px;
  }

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    width: 40%; /* shorter than input fields*/
    padding: 10px;
    border: none;
    border-radius: 15px; /* more rounded button */
    background-color: #eb9486;
    color: #333459;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #19647E;
}